<html>
    <head>
    <title></title>
    </head>
    <body>
        <form action="/hello" method="post">
            name:<input type="text" name="username">
            
            <input type="submit" value="Login">
        </form>
    </body>
</html>
